body {
    background-color: rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: rgb(0, 173, 181);
    font-size: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: 393E46;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
p {
    color: rgb(34, 40, 49);
    font-family: 'Roboto', sans-serif;
}
